/* basic exercises */


/* html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #cec0a2;
}

.b1nameBox {
    height: 100%;
    background: #e9c173;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b1name {
    background-color: #6258d1;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */


/* advanced */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b1name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-center {
    margin-top: 20vh;
}


/* advanced */


/* 
html,
body {
    width: 100%;
    background-color: wheat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */